################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Example/Example.API/obj
/Example/.vs/Example/v16
/Example/Example.Model/bin/Debug/netstandard2.0
/Example/Example.API/bin/Debug/netcoreapp3.1
/Example/Example.Model/obj
/Example/Example.WebCore/obj
/Example/Example.WebCore/bin/Debug/netcoreapp3.1
*.v2
/Example/.vs/Example/config/applicationhost.config
/Example/Example.Core/obj/Debug/netstandard2.0
/Example/Example.Service/obj
/Example/Example.Service/bin/Debug/netcoreapp3.1
/Example/Example.Repository/obj
/Example/Example.Repository/bin/Debug/netcoreapp3.1
/Example/Example.UnitOfWork/obj
/Example/Example.UnitOfWork/bin/Debug/netcoreapp3.1
/Example/Example.EntityFramwork/obj
/Example/Example.EntityFramwork/bin/Debug/netcoreapp3.1
